<h2>Upcoming Events</h2>

<ul id="events">
<% if !@events.blank? %>
		<% for eventi in @events %>
	    	<li itemscope itemtype="http://data-vocabulary.org/Event">
				<h2 itemprop="summary"><%= eventi["name"]%></h2>
				<strong>Event Link: </strong><%= link_to 'iLinkoln Meetup Group', eventi['event_url'],  :itemprop => "url", :target => "_blank"%><br>
				<strong>RSVPs: </strong><span><%= eventi["yes_rsvp_count"]%></span><br>
				<strong>Start: </strong><time itemprop="dtstart" datetime="<%=  eventi["time"] %>"><%= Time.at(eventi["time"]).strftime("%a %b %y - %H:%M") %></time><br>
				<strong>End: </strong><time itemprop="dtend" datetime=""> 22.00hrs</time><br>
				<strong>Venue: </strong><span><%= eventi['venue']["name"]%></span><br>
				<strong>Location: </strong><span itemprop="address" itemscope itemtype="http://data-vocabulary/Address">
					<span itemprop="street-address"><%= eventi['venue']["address_1"]%>,</span> 
					<span itemprop="locality"><%= eventi['venue']["city"]%>,</span>
					<span itemprop="region">Lincolnshire,</span>
					<span itemprop="postal-code"><%= eventi['venue']["address_2"]%> </span>
					<span itemprop="country-name"><%= eventi['venue']["country"].upcase  %></span>
					<span itemprop="geo" itemscope itemtype="http://data-vocabulary.org/Geo">
						<meta itemprop="latitude" content="<%= eventi['venue']["lat"]%>" >
						<meta itemprop="longitude" content="<%= eventi['venue']["lon"]%>" >
					</span>
				</span>
				<br>
				<div itemprop="description">
					<p><strong>Details: </strong></p>
					<%=raw eventi["description"] %>
				</div>
			</li>
		<% end %>
<% else %>
	<li><p>There are no upcoming events. :(</p>
<% end %>
</ul>


