<!DOCTYPE html>  
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js" > <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<link href='http://fonts.googleapis.com/css?family=Arvo:regular,bold' rel='stylesheet' type='text/css'>
	<meta name="google-site-verification" content="s4ni6ZHAqjS1SRAdFZgZMgBrEuv9qBouib8yhLFXAAM" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="apple-touch-fullscreen" content="yes" >
	<meta name="apple-mobile-web-app-capable" content="yes" >
	<title><%= title %></title>
	<meta name="description" content="<%= meta_description %>">
	<meta name="author" content="Nelson Kelem">
	
	<!--  Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
	<%= favicon_link_tag %>
	<%= favicon_link_tag 'apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
	
	
	<!-- CSS : implied media="all" 
	<%= stylesheet_link_tag "lincoln_hack", :media => "screen" %>-->
	<style>
		html { height: 100% }
		body { height: 100%; margin: 0px; padding: 0px }
		#map_canvas { height: 100% }
		#lincshack{background-color:#fff/*160a00*/;font-family:helvetica, arial, serif;color:#444444;font-size:18px;}
		#container{margin:40px auto;width:960px;}
		#logo, .fancyfont, h2, h3,dt{font-family: 'Arvo', arial, serif;}
		dt {font-weight:bold;}
		#logo{font-size:80px;color:#e34c25; margin:20px 0;}
		.fancyfont{font-size:40px;}
		li{list-style-type:square;}
		nav{font-size:26px;
			font-weight:bold;
			padding:15px 0;
			background-color:#e34c25;
			-webkit-border-top-right-radius:4em;
			-webkit-border-bottom-right-radius:1em;
			-moz-border-radius:0 4em 1em 0;
			border-radius:0 4em 1em 0;
			}
		nav li{list-style-type:none;display:inline; margin-right:7px;}
		nav ul{margin:0;margin-left:-30px;}
		nav a{color:#160a00;}
		.col1{width:460px; float:left;padding:0 8px;}
		.active{color:#fff/*160a00*/;}
		a{color:#0000CC;text-decoration:none;}
		a:hover{text-decoration:underline;}
		.float_rt{float:right;}
		#contacts dl {width:300px;margin:10px;float:left;}
		#map_canvas{height:100%;}.clearfix:before, .clearfix:after {
		  content: "\0020"; display: block; height: 0; visibility: hidden;	
		} 
		#date{font-size:40px;}
		#date img{position:relative;bottom:-7px;}
		#schedule{margin-bottom:20px;}
		#schedule .schedule > div{width:450px;margin:0 10px;float:left;}
		#challenges .challenge > div{width:450px;margin:0 10px;float:left;}
		footer{width:700px;margin:20px auto;}
		footer p{text-align:center;}
		.clearfix:after { clear: both; }
		.clearfix { zoom: 1; }
	</style>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;key=ABQIAAAAXQa8lsEoleTl2c37BIA_ERQPSbhHvN0x4TnvYWevUSKQ8M94TBRFH-sE0UbGyYLmNp7h4LC48yhoEw"></script>
	<script>
	  function initialize() {
	    var myLatlng = new google.maps.LatLng(53.22845,-0.5476);
	    var myOptions = {
	      zoom: 4,
	      center: myLatlng,
	      mapTypeId: google.maps.MapTypeId.SATELLITE
	    }
	    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

	    var marker = new google.maps.Marker({
	        position: myLatlng, 
	        map: map,
	        title:"University of Lincoln Admin Building"
	    });   // API Key ABQIAAAAXQa8lsEoleTl2c37BIA_ERQPSbhHvN0x4TnvYWevUSKQ8M94TBRFH-sE0UbGyYLmNp7h4LC48yhoEw
	  }
	</script>
	
	<!-- Uncomment if you are specifically targeting less enabled mobile browsers -->
	<%= stylesheet_link_tag "handheld", :media => "mobile" %>
	<%= auto_discovery_link_tag :atom, posts_path(:atom) %>
	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<%= javascript_include_tag "modernizr" %>
	<%= csrf_meta_tag %>
	
</head>
<body onload="initialize()"  id="lincshack">

	<div id="container" class="clearfix">
		<header>
			<h1 id="logo">Lincoln Hack</h1>
			<h2  id="date"><time datetime="18-06-2011T09:00">Sat 18 - Sun 19 June, 2011</time> <%= link_to image_tag("register_now_free.png", :alt => "Registration is free" ), "//www.meetup.com/iLinkoln/events/17555476/", :title => "Register now for free", :class => "float_rt registration", :target => "_blank" %></h2>
		</header>
		
		
		<section id="about"  class="about clearfix">
			<nav role="main">
				<ul>
				<li><a href="#about"  class="active">About</a></li>
				<li><a href="#schedule">Schedule</a></li>
				<li><a href="#venue">Venue</a></li>
				<li><a href="#challenges">Challenges</a></li>
				<li><a href="#sponsors">Sponsors</a></li>
				<li><a href="#rules">Rules</a></li>
				<li><a href="#prizes">Prizes</a></li>
				<li><a href="#contacts">Contacts</a></li>
				</ul>
			</nav>
			<div>
				<div  class="col1">
					<h2>Open Hack(Hack Fest)</h2> 
					<p>A hack day is an event where developers, designers and people with ideas gather to build <mark>'cool stuff'</mark> - the events now run all over the world and are organised by <em>Yahoo!</em> as well as other organisations such as the <em>BBC</em>, <em>Lonely Planet</em> and even government departments across the world.</p> 
					<h3>Benefits</h3>
					<p>Innovation on the fly.</p>
					<p>Get down to work and produce 3 months worth of work in 24hrs. Tested and proven.</p>
					<p>Companies are seeing real productivity with internal hack days.</p>
				</div>
				<div  class="col1">
					<h2>Lincoln Hack</h2>
					<p>The hack event will be a first of its kind to take place in Lincoln.</p> 
					<p>This is an open and FREE event. All you bring is you and a great attitude. There will be no sleeping space</p>
					<p>The event is intended to ignite collaboration and to bring Lincoln up to speed with other iconic cities in the digital sphere.</p>
					<p>Companies can get the best use of their API's or a new service created all together in 24hrs.</p>
					<p>Employers and employees will benefit from sponsoring and meeting each other.</p>
					<p>You can crack on that wicked idea in a positive and creative environment. </p>
					<p>It will take place on the Lincoln University grounds in the atrium of the main admin building.</p>
				</div>
			</div>
		</section><!-- end #about -->
		
		
		<section id="schedule"  class="about clearfix">
			<nav>
				<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#schedule" class="active">Schedule</a></li>
				<li><a href="#venue">Venue</a></li>
				<li><a href="#challenges">Challenges</a></li>
				<li><a href="#sponsors">Sponsors</a></li>
				<li><a href="#rules">Rules</a></li>
				<li><a href="#prizes">Prizes</a></li>
				<li><a href="#contacts">Contacts</a></li>
				</ul>
			</nav>
			<div  class="schedule">
				<h2>Schedule</h2>
				<p>(This is a very rough schedule and is subject to change)</p>
				
				<div>
					<dl>
					<dt>Day One</dt>
					<dd>09:30 – Registration</dd>
					<dd>10:30 – Introduction</dd>
					<dd>11:00 – Lunch</dd>
					<dd>12:00 – HACKING BEGINS</dd>
					<dd>16:00 – Dinner</dd>
					</dl>
				</div>
				<div>
					<dl>
					<dt>Day Two</dt>
					<dd>08:00 – Breakfast</dd>
					<dd>12:00 – HACKING ENDS</dd>
					<dd>12:01 – Judges walk around</dd>
					<dd>13:00 – Lunch</dd>
					<dd>14:30 – Presentations begin</dd>
					<dd>15:30 – Judging Begins</dd>
					<dd>16:00 – Awards</dd>
					<dd>17:00 – Tidy up and go home time</dd>
					</dl>
				</div>
			</div>
		</section><!-- end #main -->
		
		<section id="venue"  class="about">
			<nav>
				<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#schedule">Schedule</a></li>
				<li><a href="#venue" class="active">Venue</a></li>
				<li><a href="#challenges">Challenges</a></li>
				<li><a href="#sponsors">Sponsors</a></li>
				<li><a href="#rules">Rules</a></li>
				<li><a href="#prizes">Prizes</a></li>
				<li><a href="#contacts">Contacts</a></li>
				</ul>
			</nav>
			<div>
				<h2>Location Map, Hotels and Parking Information</h2>
				<p>Parking: will be at the university grounds. Park at your own risk. More parking at Odeon Cinema.</p>
				<p>Hotels:	<a href="#">Holiday Inn</a>, 
							<a href="#">Lincoln Hotel</a>,
							<a href="#">Castle View Hotel</a>
				</p>
				<div id=""  class="clearfix"><%= link_to image_tag("lincolnMap.png", :alt => "location map"), 
																			"http://maps.google.co.uk/maps?rls=en&q=lincoln&oe=UTF-8&redir_esc=&um=1&ie=UTF-8&hq=&hnear=Lincoln&gl=uk&ei=87LCTeuZIt7Y4wat7r3tBA&sa=X&oi=geocode_result&ct=image&resnum=1&ved=0CDsQ8gEwAA", 
																			:title => "Lincoln University map", :target => "_blank"  %>
																			</div>
			</div>
		</section><!-- end #main -->
		
		<section id="challenges"  class="clearfix">
			<nav>
				<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#schedule">Schedule</a></li>
				<li><a href="#venue">Venue</a></li>
				<li><a href="#challenges" class="active">Challenges</a></li>
				<li><a href="#sponsors">Sponsors</a></li>
				<li><a href="#rules">Rules</a></li>
				<li><a href="#prizes">Prizes</a></li>
				<li><a href="#contacts">Contacts</a></li>
				</ul>
			</nav>
			<div  class="challenge ">
				<div>
					<h2>From Sponsors</h2>
					<p>Best Mobile App</p> 
					<p>Best Web App</p> 
					<p>API Best Design (Dashboard)</p>
					<p>Gaming App</p>
				</div>
				<div>
					<h2>From Attendees</h2>
					<p>We will update this section as we get them in</p> 
					<p>Please email us your suggestions.</p>
				</div>
			</div>
		</section><!-- end #challenges -->
		
		<section id="sponsors"  class="about">
			<nav>
				<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#schedule">Schedule</a></li>
				<li><a href="#venue">Venue</a></li>
				<li><a href="#challenges">Challenges</a></li>
				<li><a href="#sponsors" class="active">Sponsors</a></li>
				<li><a href="#rules">Rules</a></li>
				<li><a href="#prizes">Prizes</a></li>
				<li><a href="#contacts">Contacts</a></li>
				</ul>
			</nav>
			<div>
				<div>
					<h2>Sponsors</h2>
					<p>This event may not be possible without you. We don't have any so far but we will not let that stop us.</p> 
					<p>If you would like to sponsor us please get in touch with by emailing <a href="mailto:nelson@ilinkoln.org?subject=lincoln_hack_question">nelson@ilinkoln.org</a>, <a href="mailto:lara@ilinkoln.org?subject=lincoln_hack_question">lara@ilinkoln.org</a> or <a href="mailto:amy@ilinkoln.org?subject=lincoln_hack_question">amy@ilinkoln.org</a> or call 07807480332.</p> 
					<p>For a preview of what we expect from sponsors please download the <%= link_to "Sponsorship Document", :action => "download", :controller => "pages" %></p>
				</div>
				<div id="twitter_feed">
					
				</div>
			</div>
		</section><!-- end #sponsors -->
		
		<section id="rules"  class="about">
			<nav>
				<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#schedule">Schedule</a></li>
				<li><a href="#venue">Venue</a></li>
				<li><a href="#challenges">Challenges</a></li>
				<li><a href="#sponsors">Sponsors</a></li>
				<li><a href="#rules" class="active">Rules</a></li>
				<li><a href="#prizes">Prizes</a></li>
				<li><a href="#contacts">Contacts</a></li>
				</ul>
			</nav>
			<div>
				<div>
					<h2>There are some simple rules</h2>
					<ul>
					<li>Teams of 4 or less</li>
					<li>Entry to the hack day is at your own risk, Lincoln Hack, iLinkoln.org or any of the organisers shall not be held responsible if you break a leg or something.</li>
					<li>The Hack must not be worked on BEFORE midday on saturday (this does not include naming or coming up with the idea)</li>
					<li>No hardware hacks without pre authorised permission <mark>(NO SOLDERING IRONS)</mark></li>
					<li>Hack registration begins at 9am on sunday morning and ends at 10:30am on Sunday.</li>
					<li>Bring your own beanbag..</li>
					<li>F1 will not be ‘put on the projector’ don’t ask…</li>
					<li>Judges decisions are final</li>
					<li>We have a lovely space for the Hack Day, if you start to act in a manner in which you might damage it, you may be asked to leave (and when we say may… we mean that security can be pretty convincing).</li>
					<li>These rules can (and probably will) be amended at any time</li>
					</ul>
				</div>
				<div id="twitter_feed">
					
				</div>
			</div>
		</section><!-- end #rules -->
		
		<section id="prizes"  class="about">
			<nav>
				<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#schedule">Schedule</a></li>
				<li><a href="#venue">Venue</a></li>
				<li><a href="#challenges">Challenges</a></li>
				<li><a href="#sponsors">Sponsors</a></li>
				<li><a href="#rules">Rules</a></li>
				<li><a href="#prizes" class="active">Prizes</a></li>
				<li><a href="#contacts">Contacts</a></li>
				</ul>
			</nav>
			<div>
				<div>
					<h2>Prizes and Winners</h2>
					<ol>
					<li>Prize "Name" from "Sponsor", WINNER: "Team Name"(Person 1, Person 2, Person 3, Person 4)</li>
					<li>Prize "Name" from "Sponsor", WINNER: "Team Name"(Person 1, Person 2, Person 3, Person 4)</li>
					<li>Prize "Name" from "Sponsor", WINNER: "Team Name"(Person 1, Person 2, Person 3, Person 4)</li>
					<li>Prize "Name" from "Sponsor", WINNER: "Team Name"(Person 1, Person 2, Person 3, Person 4)</li>
					</ol>
				</div>
				<div id="twitter_feed">
					
				</div>
			</div>
		</section><!-- end #prizes -->
		
		<section id="contacts"  class="about clearfix">
			<nav>
				<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#schedule">Schedule</a></li>
				<li><a href="#venue">Venue</a></li>
				<li><a href="#challenges">Challenges</a></li>
				<li><a href="#sponsors">Sponsors</a></li>
				<li><a href="#rules">Rules</a></li>
				<li><a href="#prizes">Prizes</a></li>
				<li><a href="#contacts" class="active">Contacts</a></li>
				</ul>
			</nav>
			<div>
				<div>
					<h2>Contacts for the event</h2>
					<dl>
						<dt>Nelson Kelem</dt>
						<dd>Landline: <tel>+44 1522 837 279</tel></dd>
						<dd>Mobile: <tel>+44 7807 480 332</tel></dd>
						<dd>Email: nelson@ilinkoln.org</dd>
					</dl>
					
					<dl>
						<dt>Lara-Jane Kokolski</dt>
						<dd>Landline: <tel>+44 1522 837 279</tel></dd>
						<dd>Mobile: <tel>+44 7807 480 332</tel></dd>
						<dd>Email: lara@ilinkoln.org</dd>
					</dl>
					
					<dl>
						<dt>Amy Guy</dt>
						<dd>Landline: <tel>+44 1522 837 279</tel></dd>
						<dd>Mobile: <tel>+44 7807 480 332</tel></dd>
						<dd>Email: amy@ilinkoln.org</dd>
					</dl>
				</div>
				<div id="twitter_feed">
					
				</div>
			</div>
		</section><!-- end #contacts -->
		
		
	</div><!-- end #container -->
	
	<footer  class="clearfix">
		<p>This event is organised by iLinkoln.org. Nelson Kelem is the Lincoln hack event producer if you have any questions, he is your man.</p>
	</footer>
	
	
</body>
</html>
	