<!DOCTYPE html>  
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js" > <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<link href='http://fonts.googleapis.com/css?family=Arvo:regular,bold' rel='stylesheet' type='text/css'>
	<meta name="google-site-verification" content="s4ni6ZHAqjS1SRAdFZgZMgBrEuv9qBouib8yhLFXAAM" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="apple-touch-fullscreen" content="yes" >
	<meta name="apple-mobile-web-app-capable" content="yes" >
	<title><%= title %></title>
	<meta name="description" content="<%= meta_description %>">
	<meta name="author" content="Nelson Kelem">
	
	<!--  Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
	<%= favicon_link_tag %>
	<%= favicon_link_tag 'apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
	
	
	<!-- CSS : implied media="all" 
	<%= stylesheet_link_tag "lincoln_hack", :media => "screen" %>-->
	<style>
		html { height: 100% }
		body { height: 100%; margin: 0px; padding: 0px }
		#map_canvas { height: 100% }
		#lincshack{background-color:#fff;font-family:helvetica, arial, serif;color:#444444;font-size:18px;}
		#container{margin:40px auto;width:960px;}
		#logo, .fancyfont, h2, h3,dt,address{font-family: 'Arvo', arial, serif;}
		dt {font-weight:bold;}
		#logo{font-size:80px;color:#e34c25; margin:20px 0;}
		.fancyfont{font-size:40px;}
		li{list-style-type:square;}
		a{color:#FF5E99;text-decoration:none; border:none;}
		a:hover{text-decoration:underline;}
		.nav{font-size:26px;
			font-weight:bold;
			padding:15px 0;
			background-color:#e34c25;
			-webkit-border-top-right-radius:4em;
			-webkit-border-bottom-right-radius:1em;
			-moz-border-radius:0 4em 1em 0;
			border-radius:0 4em 1em 0;
			}
		.nav li{list-style-type:none;display:inline; margin-right:7px;}
		.nav ul{margin:0;margin-left:-30px;}
		.nav a{color:#160a00;}
		a.active{color:#fff;}
		.col1{width:460px; float:left;padding:0 8px;}
		.nav:after { clear: both; zoom:1;}
		.float_rt{float:right;}
		#contacts dl {width:300px;margin:10px;float:left;}
		#map_canvas{height:100%;}.clearfix:before, .clearfix:after {
		  content: "\0020"; display: block; height: 0; visibility: hidden;	
		} 
		img{border:none;}
		#date{font-size:40px;}
		#date img{position:relative;bottom:-7px;}
		#schedule{margin-bottom:20px;}
		#schedule .schedule > div, #challenges .challenge > div, #venue .venue > div{width:450px;margin:0 10px;float:left;}
		footer{width:700px;margin:20px auto;}
		footer p{text-align:center;}
		.clearfix:before, .clearfix:after {
		  content: "\0020"; display: block; height: 0; visibility: hidden;	
		}
		.clearfix:after { clear: both; }
		.clearfix { zoom: 1; }
	</style>	
	<!-- Uncomment if you are specifically targeting less enabled mobile browsers -->
	<%= stylesheet_link_tag "handheld", :media => "mobile" %>
	<%= auto_discovery_link_tag :atom, posts_path(:atom) %>
	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<%= javascript_include_tag "modernizr" %>
	<%= csrf_meta_tag %>
	
</head>
<body onload="initialize()"  id="lincshack">

	<div id="container" class="clearfix">
		<p><a href="/" class="float_rt">iLinkoln Home Page</a></p>
		<header>
			<h1 id="logo">Lincoln Hack</h1>
			<h2  id="date"><time datetime="18-06-2011T09:00">Sat 18 - Sun 19 June, 2011</time> <%= link_to image_tag("register_now_free.png", :alt => "Registration is free" ), "//www.meetup.com/iLinkoln/events/17555476/", :title => "Register now for free", :class => "float_rt registration", :target => "_blank" %></h2>
		</header>
		
		
		<section id="about"  class="about clearfix">
			<div class="nav">
				<ul>
				<li><a href="#about"  class="active">About</a></li>
				<li><a href="#schedule">Schedule</a></li>
				<li><a href="#venue">Venue</a></li>
				<li><a href="#challenges">Challenges</a></li>
				<li><a href="#sponsors">Sponsors</a></li>
				<li><a href="#rules">Rules</a></li>
				<li><a href="#prizes">Prizes</a></li>
				<li><a href="#contacts">Contacts</a></li>
				</ul>
			</div>
			<div>
				<div  class="col1">
					<h2>Open Hack (Hack Fest)</h2> 
					<p>A hack day is an event where developers, designers and people with ideas gather to build <mark>'cool stuff'</mark> - the events now run all over the world and are organised by <em>Yahoo!</em> as well as other organisations such as the <em>BBC</em>, <em>Lonely Planet</em> and even government departments across the world.</p> 
					<h3>Benefits</h3>
					<p>Innovation on the fly.</p>
					<p>Get down to work and produce 3 months worth of work in 24hrs. Tested and proven.</p>
					<p>Companies are seeing real productivity with internal hack days.</p>
					<p><%= link_to image_tag("register_now_free.png", :alt => "Registration is free" ), "//www.meetup.com/iLinkoln/events/17555476/", :title => "Register now for free", :target => "_blank" %></p>
				</div>
				<div  class="col1">
					<h2>Lincoln Hack</h2>
					<p>The hack event will be a first of its kind to take place in Lincoln.</p> 
					<p>This is an open and FREE event. All you bring is you and a great attitude. There will be no sleeping space</p>
					<p>The event is intended to ignite collaboration and to bring Lincoln up to speed with other iconic cities in the digital sphere.</p>
					<p>Companies can get the best use of their API's or a new service created all together in 24hrs.</p>
					<p>Employers and employees will benefit from sponsoring and meeting each other.</p>
					<p>You can crack on that wicked idea in a positive and creative environment. </p>
					<p>It will take place on the Lincoln University grounds in the atrium of the main admin building.</p>
				</div>
			</div>
		</section><!-- end #about -->
		
		
		<section id="schedule"  class="about clearfix">
			<div class="nav">
				<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#schedule" class="active">Schedule</a></li>
				<li><a href="#venue">Venue</a></li>
				<li><a href="#challenges">Challenges</a></li>
				<li><a href="#sponsors">Sponsors</a></li>
				<li><a href="#rules">Rules</a></li>
				<li><a href="#prizes">Prizes</a></li>
				<li><a href="#contacts">Contacts</a></li>
				</ul>
			</div>
			<div  class="schedule">
				<h2>Schedule</h2>
				<p>(This is a very rough schedule and is subject to change)</p>
				
				<div>
					<dl>
					<dt>Day One</dt>
					<dd>09:00 – Registration</dd>
					<dd>10:30 – Introduction/Presentations</dd>
					<dd>11:00 – Lunch</dd>
					<dd>12:00 – HACKING BEGINS</dd>
					<dd>17:00 – Dinner (Pizza- Provided by the <em>School of Computer Science</em>)</dd>
					<dd>Hacking continues through the night</dd>
					</dl>
				</div>
				<div>
					<dl>
					<dt>Day Two</dt>
					<dd>08:00 – Breakfast</dd>
					<dd>12:00 – HACKING ENDS</dd>
					<dd>12:01 – Judges walk around</dd>
					<dd>13:00 – Lunch</dd>
					<dd>14:30 – Presentations to judges begin</dd>
					<dd>15:30 – Judging Begins</dd>
					<dd>16:00 – Awards and rewards</dd>
					<dd>17:00 – Home time</dd>
					</dl>
				</div>
			</div>
		</section><!-- end #main -->
		
		<section id="venue"  class="about clearfix">
			<div class="nav">
				<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#schedule">Schedule</a></li>
				<li><a href="#venue" class="active">Venue</a></li>
				<li><a href="#challenges">Challenges</a></li>
				<li><a href="#sponsors">Sponsors</a></li>
				<li><a href="#rules">Rules</a></li>
				<li><a href="#prizes">Prizes</a></li>
				<li><a href="#contacts">Contacts</a></li>
				</ul>
			</div>
			<div  class="venue">
				<h2>Location Map, Hotels and Parking Information</h2>
				<div class="">
				<address>
					CompLab C - 3rd Floor,<br>
					Media (MHT) Building, <br>
					Lincoln University, <br>
					LN6 7TS, Lincoln UK
				</address>
				<p>Parking: will be at the university grounds. Park at your own risk. More parking at Odeon Cinema.</p>
				<p>Hotels:	Holiday Inn, Lincoln Hotel, Castle View Hotel
				</p>
				<p><%= link_to image_tag("register_now_free.png", :alt => "Registration is free" ), "//www.meetup.com/iLinkoln/events/17555476/", :title => "Register now for free", :target => "_blank" %></p>
				</div>
				<div id=""  class="col1 clearfix"><%= link_to image_tag("lincolnMap.png", :alt => "location map"), 
																			"http://maps.google.co.uk/maps?rls=en&q=lincoln&oe=UTF-8&redir_esc=&um=1&ie=UTF-8&hq=&hnear=Lincoln&gl=uk&ei=87LCTeuZIt7Y4wat7r3tBA&sa=X&oi=geocode_result&ct=image&resnum=1&ved=0CDsQ8gEwAA", 
																			:title => "Lincoln University map", :target => "_blank"  %>
																			</div>
			</div>
		</section><!-- end #main -->
		
		<section id="challenges"  class="clearfix">
			<div class="nav">
				<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#schedule">Schedule</a></li>
				<li><a href="#venue">Venue</a></li>
				<li><a href="#challenges" class="active">Challenges</a></li>
				<li><a href="#sponsors">Sponsors</a></li>
				<li><a href="#rules">Rules</a></li>
				<li><a href="#prizes">Prizes</a></li>
				<li><a href="#contacts">Contacts</a></li>
				</ul>
			</div>
			<div  class="challenge ">
				<div>
					<h2>Some suggestions from us</h2>
					<p><strong>Charity App</strong></p>
					<p><strong>Best Mobile App</strong></p> 
					<p><strong>Best Web App</strong></p> 
					<p><strong>API Best Design (Dashboard)</strong></p>
					<p><strong>Video/Gaming App</strong></p>
					<p><strong>The Lincoln Social Computing Research Centre <a href="http://lisc.lincoln.ac.uk/">(LiSC)</a> Challenge</strong></p>
					<p>LiSC is very interested in the power of combining open data sets with
					social media. The prize will be awarded to the best hack that uses
					APIs such as those found on http://data.gov.uk and
					http://www.police.uk/api/docs/ with a social twist (for example,
					Twitter API, FB Graph API, Foursquare API,...). The purpose of the
					hack could be anything - e-government, health, animals, games, etc. -
					as long as it is cool!</p>
					<p><strong>The Computing Society Challenge</strong></p>
					<p>The Computing Society are looking for a fast and innovative way of publicising their events - maybe a mobile app, or something that will publish the event to their website, facebook, twitter, and everything else at the same time... be creative!</p>
				</div>
				<div>
					<h2>From Attendees</h2>
					<p>You are by all means open to doing your own thing. You don't have to take on a challenge from the left.'</p>
					<p>We will update this section as we get them in</p> 
					<p>Please email us your suggestions.</p>
				</div>
			</div>
		</section><!-- end #challenges -->
		
		<section id="sponsors"  class="about">
			<div class="nav">
				<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#schedule">Schedule</a></li>
				<li><a href="#venue">Venue</a></li>
				<li><a href="#challenges">Challenges</a></li>
				<li><a href="#sponsors" class="active">Sponsors</a></li>
				<li><a href="#rules">Rules</a></li>
				<li><a href="#prizes">Prizes</a></li>
				<li><a href="#contacts">Contacts</a></li>
				</ul>
			</div>
			<div>
				<div>
					<h2>Sponsors</h2>
					<p>This event may not be possible without our fantastic sponsors...</p> 
					<p>If you would like to sponsor us please get in touch with by emailing <a href="mailto:nelson@ilinkoln.org?subject=lincoln_hack_question">nelson@ilinkoln.org</a>, <a href="mailto:lara@ilinkoln.org?subject=lincoln_hack_question">lara@ilinkoln.org</a> or <a href="mailto:amy@ilinkoln.org?subject=lincoln_hack_question">amy@ilinkoln.org</a> or call 07807480332.</p> 
					<h3><a href="http://www.lingscars.com/">LINGs CARs</a></h3>
					<p>Ling Valentine is the famous Chinglish girl from Dragon's Den. She sells more cars than any one single salesman in a car dealership I know.</p>
					<p><a href="http://www.lingscars.com/"><img src="//images.lingscars.com/images/sidebar/wah.gif" alt="Lings Cars"></a></p>
					<h3><a href="http://www.hattieandfriends.co.uk/">Hattie and Friends</a></h3>
					<p>Hattie and Friends is a new range of inclusive resources for young children. The range includes 4 story books, jigsaws, posters and colouring sheets, all featuring disabled characters.</p>
					<p>‘Hattie and friends’ offers the opportunity to discuss disability issues in a child friendly way. The characters are appealing and the themes used are easy for young children to relate to.</p>
					<p>Lesley Berrington, a qualified and the former owner of Stepping Stones Day Care Limited is the author of 'Hattie And Friends'.</p>
					<p><a href="http://www.hattieandfriends.co.uk/"><img src="//www.childrensbooksfeaturingdisability.co.uk/wp-content/uploads/day-in-park1.jpg" alt="Hattie and friends"></a></p>
					<h3><a href="http://www.lincoln.ac.uk/socs">University of Lincoln School of Computer Science</a></h3>
					<p>The School has broad range of expertise in Computing Technologies and Information Systems, including specialisms in robotics and cybernetics, computer vision, social computing, games computing, software engineering, audio and media technologies and business computing.</p>
					<p>The Lincoln School of Computer Science is happy to sponsor the hack
					day, by providing space (MC3205 - Lab C) for the weekend and also
					sponsoring dinner on the Saturday.</p>
					<p><a href="http://www.lincoln.ac.uk/socs"><img src="" alt="SoCS"></a></p>
					<h3><a href="http://lisc.lincoln.ac.uk/">Lincoln Social Computing Research Group (LiSC)</a></h3>
					<p>With a research focus on social aspects of human-computer interaction (HCI), LiSC will be providing an overview of their current work, and help with mashing up open APIs or data sources during the weekend, as well as providing a prize - more details to follow!</p>
					<p><a href="http://lisc.lincoln.ac.uk/"><img src="" alt="LiSC"></a></p>
					<h3><a href="http://www.ulcomputing.co.uk/">University of Lincoln Computing Society</a></h3>
					<p>The Computing Society are supporting the organisation of the hack, so there will be plenty of students with ideas!</p>
					<p><a href="http://www.ulcomputing.co.uk/"><img src="" alt="ULCS"></a></p>
					<!--><h3><a href="http://studentasproducer.lincoln.ac.uk/">Student As Producer</a></h3>
					<p>A new initiative at the University of Lincoln, encouraging undergraduate research and student proactivity - more info to follow!</p>
					<p><a href="http://studentasproducer.lincoln.ac.uk/"><img src="" alt="SaP"></a></p>-->
				</div>
				<div id="twitter_feed">
					
				</div>
			</div>
		</section><!-- end #sponsors -->
		
		<section id="rules"  class="about">
			<div class="nav">
				<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#schedule">Schedule</a></li>
				<li><a href="#venue">Venue</a></li>
				<li><a href="#challenges">Challenges</a></li>
				<li><a href="#sponsors">Sponsors</a></li>
				<li><a href="#rules" class="active">Rules</a></li>
				<li><a href="#prizes">Prizes</a></li>
				<li><a href="#contacts">Contacts</a></li>
				</ul>
			</div>
			<div>
				<div>
					<h2>Some simple rules</h2>
					<ul>
					<li>Max of 4 people in a team.</li>
					<li>Entry to the hack day is at your own risk. Take care.</li>
					<li>Your should not have start working on your Hack BEFORE start time on saturday</li>
					<li>It's a 24 hours no-sleep event, bring a beanbag.</li>
					<li>Judges decisions are final</li>
					</ul>
				</div>
				<div id="twitter_feed">
					
				</div>
			</div>
		</section><!-- end #rules -->
		
		<section id="prizes"  class="about">
			<div class="nav">
				<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#schedule">Schedule</a></li>
				<li><a href="#venue">Venue</a></li>
				<li><a href="#challenges">Challenges</a></li>
				<li><a href="#sponsors">Sponsors</a></li>
				<li><a href="#rules">Rules</a></li>
				<li><a href="#prizes" class="active">Prizes</a></li>
				<li><a href="#contacts">Contacts</a></li>
				</ul>
			</div>
			<div>
				<div>
					<h2>Prizes and Winners</h2>
					<p>This area will be filled with all the wonderful winners of the different prizes, meanwhile below is how it will look.</p>
					
				</div>
				<div id="twitter_feed">
					
				</div>
			</div>
		</section><!-- end #prizes -->
		
		<section id="contacts"  class="clearfix">
			<div class="nav">
				<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#schedule">Schedule</a></li>
				<li><a href="#venue">Venue</a></li>
				<li><a href="#challenges">Challenges</a></li>
				<li><a href="#sponsors">Sponsors</a></li>
				<li><a href="#rules">Rules</a></li>
				<li><a href="#prizes">Prizes</a></li>
				<li><a href="#contacts" class="active">Contacts</a></li>
				</ul>
			</div>
			<div>
					<h2>Contacts for the event<%= link_to image_tag("register_now_free.png", :alt => "Registration is free" ), "//www.meetup.com/iLinkoln/events/17555476/", :title => "Register now for free", :target => "_blank", :class => "float_rt" %></h2>
					<dl>
						<dt>Nelson Kelem</dt>
						<dd>Landline: <tel>+44 1522 837 279</tel></dd>
						<dd>Mobile: <tel>+44 7807 480 332</tel></dd>
						<dd>Email: <a href="mailto:nelson@ilinkoln.org?subject=lincoln%20hack%20enquiry">nelson@ilinkoln.org</a></dd>
						<dd>Twitter: @ilinkoln</dd>
					</dl>
					
					<dl>
						<dt>Lara-Jane Kokolski</dt>
						<dd>Mobile: <tel>+44 7892 792 514</tel></dd>
						<dd>Email: <a href="mailto:lara@ilinkoln.org?subject=lincoln%20hack%20enquiry">lara@ilinkoln.org</a></dd>
						<dd>Twitter: @LaraJaneK</dd>
					</dl>
					
					<dl>
						<dt>Amy Guy</dt>
						<dd>Landline: <tel>+44 1522 837 279</tel></dd>
						<dd>Email: <a href="mailto:amy@ilinkoln.org?subject=lincoln%20hack%20enquiry">amy@ilinkoln.org</a></dd>
						<dd>Twitter: @rhiaro</dd>
					</dl>
			</div>
		</section><!-- end #contacts -->
		
		
	</div><!-- end #container -->
	
	<footer  class="clearfix">
		<p>This event is organised by <a href="/">iLinkoln.org</a>. Nelson Kelem is the Lincoln hack event producer if you have any questions, he is your man.</p>
	</footer>
	
	<script>
		var _gaq = [['_setAccount', 'UA-19064616-4'], ['_trackPageview']];
		(function(d, t) {
			var g = d.createElement(t),
			s = d.getElementsByTagName(t)[0];
			g.async = true;
			g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g, s);
		})(document, 'script');
	</script>
</body>
</html>
