<h1>All members</h1>
<ul  id="members">
<% @members.each do |member| %>
	
	<li itemscope itemtype="http://data-vocabulary.org/Person">
		
		<div  class="float_rt member_info">
			<strong>Name: </strong><span itemprop="name"><%= member.name %></span>
			<br>
			<strong>Location: </strong><span itemprop="adr"><%= member.location %></span>
			<br>
			<strong>Title: </strong><span itemprop="title"><%= member.title %></span>
			<br>
			<strong>Company: </strong><span itemprop="org"><%= member.company %></span>
			<br>
			<strong>Website: </strong><span itemprop="url"><%= member.website %></span>
			<br>	
			<strong>What I do: </strong><div itemprop="description"><%= kramdown truncate(member.description, :length => 500, :omission => "[...]")%></div>
			<br>	
			<div><strong>What I think about iLinkoln: </strong><%= kramdown member.aboutus %></div>
		</div>
		<figure  class="member_img float_lt">
			<%= link_to (image_tag(member.avatar, :size => "140x140")), member,  :itemprop =>"photo" %>
			<figcaption> <%= link_to "@#{member.twitter}", "http://twitter.com/#{member.twitter}", :target => "_blank" %></figcaption>
		</figure>
		<div  class="clearfix">
			<% if @owner %>
			<%= link_to 'Edit', edit_member_path(member) %> | 
			<% if admin? %>
			<%= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete %>
			<% end %>
			<% else %>
			
			<% end %>
		</div>
	</li>
<% end %>
</ul>

